{% extends "base-principal.html" %}
    {%block breadcrumb %}
        <ol class="breadcrumb">
            <li><a href="{% url 'login_user' %}">Atrás</a></li>
            <li><a href="#" class="active">Selección del Concepto</a></li>
        </ol>
    {%endblock breadcrumb %}
{%block title %}Selección del Concepto{%endblock title %}
{%block content %}
    <div class="row">
        <div class="eq-height">
            <div class="col-md-6 col-lg-4 eq-box-lg">
                <div class="panel">
                    <div class="alignleft">
                        <img src="{{ MEDIA_URL }} {{logo_empresa.url }}" alt="" class="img-lg"/>
                    </div>
                   <div class="panel" style="background-color: #f9c769; border-color: #d5d3d0">
                        <div class="mar-top clearfix">
                            <h3 class="h3 mar-no text-center" >Seleccione el Concepto</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form name="FormularioEscogerCertificado" method="post">
                            {% csrf_token %}
                        <fieldset>
                            <div class="col-sm-2 col-sm-offset-5">
                                <div class="form-group">
                                {{ FormularioEscogerCertificado.periodo }}
                                </div>
                           </div>
                            <div class="col-sm-2 col-sm-offset-5">
                                <div class="form-group">
                                    {{ FormularioEscogerCertificado.tipo_certificado }}
                                </div>
                            </div>
                        </fieldset>
                        <!--Small-->
                        <!--===================================================-->

                            <div class="col-sm-2 col-sm-offset-5">
                            <div class="form-group">
                                <button style="background-color: #e8a018; border-color: #d5d3d0" class="btn btn-primary btn-block" type="submit" name="btnGenerer">Generar</button>
                            </div>
                        </div>

                        </form>
                        </div>
                        <!--===================================================-->

                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}