{% extends "base-principal-empresas.html" %}
    {%block breadcrumb %}
        <ol class="breadcrumb">
            <li><a href="{% url 'login_user' %}">Atrás</a></li>
            <li><a href="#" class="active">Selección del Concepto</a></li>
        </ol>
    {%endblock breadcrumb %}
{%block title %}Selección del Concepto{%endblock title %}
{%block content %}
    <div class="panel">
        <div class="panel-body">
            <div class="eq-height">
            <div class="col-md-6 col-lg-4 eq-box-lg">
                <div class="panel-body">
                    <!--<div class="panel">
                        <div class="mar-top clearfix">
                            <h3 class="h3 mar-no text-center">Certificado</h3>
                        </div>
                    </div>-->
                        <div class="row">
					    <div class="eq-height">
                         <form name="FormularioEscogerCertificado" method="post">
                            {% csrf_token %}
					        <div class="col-md-6 col-lg-4 eq-box-lg">
					            <div class="panel">
					                <div class="panel-heading">
					                    <h4 class="panel-title" style="background-color: #f9c769; border-color: #d5d3d0">Seleccione el periodo</h4>
					                </div>
					                <div class="panel-body">

					                    <!--Small-->
					                    <!--===================================================-->
					                    {{ FormularioEscogerCertificado.periodo }}
					                    <!--===================================================-->

					                </div>
					            </div>
					        </div>
                            <div class="col-md-6 col-lg-4 eq-box-lg">
					            <div class="panel">
					                <div class="panel-heading">
					                    <h4 class="panel-title" style="background-color: #f9c769; border-color: #d5d3d0">Seleccione el formato</h4>
					                </div>
					                <div class="panel-body">

					                    <!--Small-->
					                    <!--===================================================-->
					                    {{ FormularioEscogerCertificado.tipo_certificado }}
					                    <!--===================================================-->

					                </div>
					            </div>
					        </div>

                            <div class="col-sm-2 col-sm-offset-5">
                                <div class="form-group">
                                    <button style="background-color: #e8a018; border-color: #d5d3d0" class="btn btn-primary btn-block" type="submit" name="btnGenerer">Generar</button>
                                </div>
                             </div>
                         </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}