{% extends "base-principal.html" %}
{%block title %}Selección del Concepto{%endblock title %}
{%block content %}
    <div class="row">
        <div class="eq-height">
            <div class="col-md-6 col-lg-4 eq-box-lg">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">SELECCIONE EL CONCEPTO</h3>
                    </div>
                    <div class="panel-body">

                        <!--Small-->
                        <!--===================================================-->
                        <div class="list-group">
                            <a class="list-group-item  list-item-sm active" href="#">01 - Certificado de retención en la fuente</a>
                            <a class="list-group-item list-item-sm" href="#">02 - Certificado de RETEIVA</a>
                            <a class="list-group-item list-item-sm" href="#">03 - Certificado de RETECREE</a>
                        </div>
                        <!--===================================================-->

                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}