{% extends "base-principal.html" %}
{%block title %}Vincular Empresas{%endblock title %}
    {%block breadcrumb %}
        <ol class="breadcrumb">
            <li><a href="{% url 'login_user' %}">Atrás</a></li>
            <li><a href="{% url 'vinculate_enterprise' %}" class="active">Vincular Empresas</a></li>
        </ol>
    {%endblock breadcrumb %}
{%block content %}
    <div class="panel">
        <div class="panel-body">
            <div class="eq-height">
                <div class="panel" style="background-color: #f9c769; border-color: #d5d3d0">
                        <div class="mar-top clearfix">
                            <h4 class="h4 mar-no text-center" >Vincular Empresas</h4>
                            <br>
                        </div>
                    </div>
                    <form method="post">
                      {% csrf_token %}
                        <div class="list-group">
                            {% for empresa in todas_las_empresas %}
                            <a class="list-group-item  list-item-sm" href="#">
                                <div class="checkbox">
                                    <input name="empresas_checkbox[]" id="{{ empresa.id_emprsa }}" value="{{ empresa.id_emprsa }}" class="magic-checkbox" type="checkbox"
                                    {% for empresa_vinculada in empresas_vinculadas %}
                                        {% if empresa_vinculada.id_emprsa == empresa.id_emprsa  %}
                                        checked
                                        {% endif %}
                                    {% endfor %}>
                                    <label for="{{ empresa.id_emprsa }}">{{ empresa.nmbre_rzon_scial }} </label>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                            <div class="col-sm-2 col-sm-offset-5">
                                <div class="form-group">
                                    <button name="btnRegisterEmpresa" style="background-color: #e8a018; border-color: #d5d3d0" class="btn btn-primary btn-block" type="submit" name="btnSave">Guardar</button>
                                </div>
                            </div>
                    </form>
            </div>
        </div>
    </div>
{%endblock content%}