{% extends "base-usuario.html" %}
{% load i18n %}
{% block content %}
    <div id="container" class="cls-container">
		<div class="cls-content">
		    <div class="cls-content-sm panel">
		        <div class="panel-body">
		            <div class="mar-ver pad-btm">
                    <p>{% trans "Gracias por pasar algún tiempo de calidad con el sitio Web de hoy." %}</p>
                    <p><a href="{% url 'admin:index' %}">{% trans 'Iniciar sesión nuevamente' %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
