{% extends "base-login.html" %}
{% load i18n %}

    {% block title %}Recuperar contraseña{% endblock %}
        {% block title_1 %} {% trans 'Recuperar Contraseña' %}{% endblock %}
            {% block content %}
                <div id="container" class="cls-container">
                <div class="cls-content">
		            <div class="cls-content-lg panel" style="background-color: #ffffff">
                            <div class="panel-body" >
                                <div class="mar-ver pad-btm">
                                    <h3 class="h3 mar-no">Recuperar Contraseña</h3>
                                    <p><hr></p>
                                    <p><b>{% trans 'Olvidó su contraseña?' %}</b></p>
                                    <p>{% trans 'Ingrese su correo electrónico abajo.' %}</p>

                                </div>
                                <form action="" method="post">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {{ form.email.errors }}
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-lg-4 control-label">Correo electrónico: </label>
                                                    <div class="col-lg-2">
                                                        {{ form.email }}
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <br>
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <div class="form-group">
                                                    <input style="border-color: #d5d3d0; font-weight: 500" class="btn btn-warning" type="submit" value="{% trans 'Recuperar contraseña' %}" />
                                                </div>
                                            </div>
                                       </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-2 col-sm-offset-12">
                                <a href="{% url 'login_user' %}" style=" color:#ffffff; border-color: #d5d3d0" class="btn btn-mint btn-active-mint" type="button"><b>Regresar</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
