{% extends "base-usuario.html" %}
{% load i18n %}

{% block title %}{% trans 'Contraseña restablecida completamente' %}{% endblock %}

{% block content %}
    <div id="container" class="cls-container">
		<div class="cls-content">
		    <div class="cls-content-sm panel" style="background-color: #ffffff">
		        <div class="panel-body">
		            <div class="mar-ver pad-btm">

                        <h2>{% trans 'Restablecimiento de contraseña completa' %}</h2>
                        <p>{% trans "La contraseña se ha restablecido. Usted puede continuar y acceder ahora a su cuenta." %}</p>
                    </div>
                    <div class="pad-all text-center">
                        <a href="{% url 'login_user' %}" class="btn btn-primary " style="background-color: #e8a018; border-color: #d5d3d0">
                            <i></i><font color="white">Iniciar Sesión</font>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
