{% extends "base-usuario.html" %}
{% load i18n %}

{% block title %}{% trans 'Cambiar Contraseña' %}{% endblock %}
{% block title_1 %}{% trans 'Ingresar la contraseña' %}{% endblock %}

{% block content %}
    <div id="container" class="cls-container">
        <div class="cls-content">
            <div class="cls-content-lg panel" style="background-color: #ffffff">
                <div class="panel-body" >
                    <div class="mar-ver pad-btm">
                        <h3 class="h3 mar-no">Recuperar Contraseña</h3>
                            <p><hr></p>
                    </div>
                    {% if validlink %}
                        <p>{% trans "Ingrese su nueva contraseña dos veces para poder verificar que la escribió correctamente." %}</p>
                        <form action="" method="post">
                            {% csrf_token %}
                        {{ form.new_password1.errors }}

                       <div class="row">
                            <div class="col-sm-12">
                                <fieldset>
                                    <div class="form-group">
                                        {{ form.new_password2.errors }}
                                        <label class="col-lg-4 control-label">Nueva contraseña: </label>
                                        <div class="col-lg-2">
                                            {{ form.new_password1 }}
                                        </div>
                                    </div>
                                    <br>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        {{ form.new_password2.errors }}
                                        <label class="col-lg-4 control-label">Confirmar contraseña: </label>
                                        <div class="col-lg-2">
                                            {{ form.new_password2 }}
                                        </div>
                                    </div>
                                    <br>
                                </fieldset>
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <input style="background-color: #e8a018; border-color: #d5d3d0; font-weight: 500" class="btn btn-primary btn-block" type="submit" value="{% trans 'Cambiar contraseña' %}" />
                            </div>
                        </div>
                    </div>
                   </div>
                </form>
                    {% else %}
                        <h1>{% trans 'Restablecimiento de la contraseña sin éxito' %}</h1>
                        <p>{% trans "El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicitar una nueva contraseña restablecida." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
