{% extends "base-usuario.html" %}
{% load i18n %}
    {% block title %}{% trans 'Contraseña restablecidad exitosamente' %}{% endblock %}
    {% block title_1 %} {% trans 'La contraseña enviada' %} {%endblock%}


    {% block content %}
        <div id="container" class="cls-container">
                <div class="cls-content">
		            <div class="cls-content-lg panel" style="background-color: #ffffff">
                            <div class="panel-body" >
                                <div class="mar-ver pad-btm">
                                    <h3 class="h3 mar-no">Contraseña restablecida exitosamente</h3>
                                    <p><hr></p>
            <p class="text-left">Le hemos enviado por correo electrónico instrucciones para restablecer su contraseña.</p>
            <p class="text-left">Si no recibe un correo electrónico de nuestra empresa, asegúrese de haber ingresado la dirección con la que se registró y revise su carpeta de correo no deseado.</p>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
    {% endblock %}
