{% extends "base-usuario.html" %}
{% load i18n %}

{% block title %}{% trans 'Contraseña restablecida completamente' %}{% endblock %}

{% block content %}
    <div id="container" class="cls-container">
		<div class="cls-content">
		    <div class="cls-content-sm panel">
		        <div class="panel-body">
		            <div class="mar-ver pad-btm">

                        <h1>{% trans 'Restablecimiento de contraseña completa' %}</h1>
                        <p>{% trans "La contraseña se ha establecido. Usted puede continuar adelante y acceder ahora" %}</p>
                    </div>
                    <div class="pad-all text-center">
                        <a href="{% url 'login_user' %}" class="btn btn-primary " style="background-color: #37495b" >
                            <i></i><font color="white">Iniciar Sesión</font>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
