{% extends "base-usuario.html" %}
{% load i18n %}
    {% block title %}{% trans 'Registro expirado - PROMETEO' %}{% endblock %}
{% block content %}
    <div id="container" class="cls-container">
		<div class="cls-content">
		    <div class="cls-content-sm panel">
		        <div class="panel-body">
		            <div class="mar-ver pad-btm">
		                <h3 class="h3 mar-no">PROMETEO</h3>
                         <p class="text-muted">Sistema Certiweb Online
                         <hr>
                        </p>
                         <p class="text-success text-bold ">Registro actualmente expirado.</p>
                        <p>Por favor volver a registrarse.</p>
		            </div>
                    <div class="pad-all text-center">
                        <a href="{% url 'register_user' %}" style="background-color: #e8a018; border-color: #d5d3d0; font-weight: 500" class="btn btn-primary btn-block">
                            <i></i><font color="white">Registrarse</font>
                        </a>
                    </div>
		        </div>
		        <hr>
		    </div>
		</div>
		<!--===================================================-->
		
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->
{% endblock %}