{% extends "base-usuario.html" %}
{% load i18n %}
    {% block title %}{% trans 'Registro expirado - PROMETEO' %}{% endblock %}
{% block content %}

	<div id="container" class="cls-container">
		<!--===================================================-->
		<div class="cls-content">
		    <div class="cls-content-sm panel" style="background-color: #ffffff">
		        <div class="panel-body">
		            <div class="mar-ver pad-btm">
                         <hr>
                        </p>
                         <p class="text-success text-bold ">Usted ha confirmado su registro.</p>
                        <p>Bienvenido. Lo invitamos a ingresar a su cuenta.</p>
		            </div>
                    <div class="pad-all text-center">
                        <a href="{% url 'login_user' %}" class="btn btn-primary " style="background-color: #e8a018; border-color: #d5d3d0" >
                            <i></i><font color="white">Iniciar Sesión</font>
                        </a>
                    </div>
		        </div>
		        <hr>
		    </div>
		</div>
		<!--===================================================-->
		
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->
{% endblock %}