<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {%endblock %}</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css/nifty.min.css' %}" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="{% static 'css/demo/nifty-demo-icons.min.css' %}" rel="stylesheet">



    <!--Demo [ DEMONSTRATION ]-->
    <link href="{% static 'css/demo/nifty-demo.min.css' %}" rel="stylesheet">


    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="{% static 'plugins/magic-check/css/magic-check.min.css' %}" rel="stylesheet">

    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="{% static 'plugins/pace/pace.min.css' %}" rel="stylesheet">
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="{% static 'js/bootstrap.min.js'%} "></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="{% static 'js/nifty.min.js'%}"></script>

    <!--=================================================-->

    <!--Background Image [ DEMONSTRATION ]-->
    <script src="{% static 'js/demo/bg-images.js'%}" ></script>

	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Stylos website prometeo -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
	<link href="{% static 'css/prettyPhoto.css'%}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
	<link href="{% static 'css/animate.css'%}" rel="stylesheet">
	<link href="{% static 'css/main.css'%}" rel="stylesheet">
	<link href="{% static 'css/responsive.css'%}" rel="stylesheet">
	<!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js'%}"></script>
	<script src="{% static 'js/respond.min.js'%}"></script> <![endif]-->

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
    <header id="navigation">
		<div class="navbar navbar-inverse navbar-fixed-top" role="banner">
			<div class="container">
                <div class="navbar-default">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="height: auto; width: auto" href="/"><img src="{% static 'img/logo.png'%}" alt="Prometeo"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll"><a href="/">INICIO</a></li>
                        <li class="scroll"><a href="#about-us">QUIÉNES SOMOS</a></li>
                        <li class="scroll"><a href="#services">NORMATIVIDAD</a></li>
                        <li class="scroll"><a href="#portfolio">SERVICIOS</a></li>
                        <li class="scroll"><a href="#our-team">PREGUNTAS</a></li>
                        <li class="scroll"><a href="#contact">CONTÁCTENOS</a></li>
                    </ul>
				</div>
			</div>
		</div><!--/navbar-->
	</header> <!--/#navigation-->
    <div><br><br><br></div>
    {% block content %}{% endblock content %}
	<!--===================================================-->
	<!-- END OF CONTAINER -->
    <footer id="footer">
		<div class="container">
			<div class="text-center">
				<p>Copyright &copy; 2017 - <a href="http://sqlsoluciones.com/">SQL Soluciones S.A.S</a> | Todos los derechos reservados</p>
			</div>
		</div>
	</footer> <!--/#footer-->
</body>
</html>
