{% extends "base-principal.html" %}
    {%block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'login_user' %}">Atrás</a></li>
        <li><a href="{% url 'update_user' %}" class="active">Actualizar usuario</a></li>
    </ol>
    {%endblock breadcrumb %}

    {%block title %} Actualización de Datos{%endblock title %}

{%block content %}
<div class="panel">
    <div class="panel-body">
    <!-- Newsfeed Content -->
    <!--===================================================-->
    <div class="media-block">
        <div class="media-body">
            <div class="media">
                <div class="media-body">
                    <div class="mar-top clearfix">
                        <h4 class="h4 mar-no text-center">Actualización de Datos</h4>
                    </div>
                    <hr>
                    <form method="post" action="" class="form-horizontal">
                    {% csrf_token %}
                    <div class="row">
                         <div class="col-sm-10">
                             <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Email: </label>
                                    <div class="col-lg-8">
                                        {{ form.email}}
                                    </div>
                                </div>
                            </fieldset>

                             <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Nombres: </label>
                                    <div class="col-lg-8">
                                        {{ form.first_name}}
                                    </div>
                                </div>
                            </fieldset>

                             <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">NIT: </label>
                                    <div class="col-lg-8">
                                        {{ form.nit_empresa}}
                                    </div>
                                </div>
                            </fieldset>

                             <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Email alternativo: </label>
                                    <div class="col-lg-8">
                                        {{ form.email_alternativo}}
                                    </div>
                                </div>
                            </fieldset>

                             <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Teléfono fijo : </label>
                                    <div class="col-lg-8">
                                        {{ form.tel_fijo}}
                                    </div>
                                </div>
                            </fieldset>

                             <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Teléfono móvil : </label>
                                    <div class="col-lg-8">
                                        {{ form.tel_movil}}
                                    </div>
                                </div>
                            </fieldset>

                             <div class="row">
                                    <div class="col-sm-3 col-sm-offset-6">
                                        <div class="form-group">
                                        <button  style="background-color: #e8a018; border-color: #d5d3d0" class="btn btn-primary btn-block" type="submit" name="btnRegister">Actualizar Datos </button>
                                        </div>
                                    </div>
                                </div>
                             <div class="row">
                                <div class="col-sm-8 col-sm-offset-8">
                                    <p class="text-success text-bold ">
                                        {{ mensaje }}
                                    </p>
                                </div>
                             </div>
                         </div>
                    </div>
                 </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{%endblock content%}