{% extends "base-principal.html" %}
    {%block breadcrumb %}
        <ol class="breadcrumb">
            <li><a href="#">Atrás</a></li>
            <li><a href="#" class="active">Cambiar contraseña</a></li>
        </ol>
    {%endblock breadcrumb %}
{% block title %}Cambiar contraseña {% endblock title %}
{%block content %}

    <div class="mar-top clearfix">
        <h3 class="h3 mar-no text-center">Cambiar Contraseña</h3>
    </div>
    <hr>
 <form method="post" action="" class="form-horizontal">
    {% csrf_token %}
    <div class="row">
         <div class="col-sm-10">
             <fieldset>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Contraseña Anterior: </label>
                    <div class="col-lg-8">
                        {{ form.old_password}}
                        <p class="text-danger text-bold ">{{form.old_password.errors}}</p>
                    </div>
                </div>
            </fieldset>

             <fieldset>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Contraseña Nueva:</label>
                    <div class="col-lg-8">
                        {{ form.new_password}}
                    </div>
                </div>
            </fieldset>

             <fieldset>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Confirmar Contraseña: </label>
                    <div class="col-lg-8">
                        {{ form.confirm_password}}
                        <p class="text-danger text-bold ">{{ form.new_password.errors}}</p>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="checkbox pad-btm text-left">
                    <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox"
                           onchange="document.getElementById('passwordA').type = this.checked ? 'text' : 'password'">
                    <label for="demo-form-checkbox">Mostrar contraseñas<a href="#" class="btn-link"></a></label>
                </div>
            </fieldset>

             <div class="row">
                    <div class="col-sm-7 col-sm-offset-7">
                        <div class="form-group">
                            <button  style="background-color: #e8a018; border-color: #d5d3d0" class="btn btn-primary btn-block" type="submit" name="btnRegister">Actualizar Contraseña </button>
                        </div>
                    </div>
             </div>
             <div class="row">
                    <div class="col-sm-8 col-sm-offset-8">
                        <p class="text-success text-bold ">
                            {{ mensaje }}
                        </p>
                    </div>
             </div>
         </div>
    </div>
 </form>

{%endblock content%}