{% extends "base-login.html" %}
{%block title %} Inicio de sesión | PROMETEO {%endblock title %}
{%block content %}
    <!--===================================================-->
    <div id="container" class="cls-container">
        <div class="cls-content">
            <div class="cls-content-sm panel" style="background-color: #ffffff">
                <div class="panel-body" >
                    <div class="mar-ver pad-btm">
                        <h3 class="h3 mar-no">Iniciar Sesión</h3>
                        <p><hr></p>
                            <p class="text-success text-bold ">
                                {{ mensaje }}
                            </p>
                            <p class="text-danger text-bold ">
                                {{ mensajeE }}
                            </p>
                        <form method="post" action="" >
                        {% csrf_token %}
                        <div class="form-group">
                           {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                        </div>
                        <div class="checkbox pad-btm text-left">
                            <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                            <label for="demo-form-checkbox">Recuerdame</label>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <button style="border-color: #d5d3d0; color:#ffffff;" class="btn btn-warning" type="submit"><b>Ingresar</b></button>
                        </div>
                    </form>
                    </div>
                    <div><br>
                        <hr>
                        <a href="{% url 'reset_password_reset1' %}" class="btn-link mar-rgt ">Recordar mi clave</a>
                        <a href="{% url 'register_user' %}" class="btn-link mar-lft" type="submit" name="btnToRegister"><u>Registrarme</u></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-sm-offset-8">
                <a href="/" style=" color:#ffffff; border-color: #d5d3d0" class="btn btn-mint btn-active-mint" type="button"><b>Regresar</b></a>
            </div>
        </div>
	</div>
{%endblock content%}
	<!--===================================================-->
	<!-- END OF CONTAINER -->
