{% extends "base-usuario.html" %}
{%block title %} Inicio de sesión | PROMETEO {%endblock title %}
{%block content %}
    <!-- LOGIN FORM -->
    <!--===================================================-->
    <div id="container" class="cls-container">
        <div class="cls-content">
            <div class="cls-content-sm panel" style="background-color: #ffffff">
                <div class="panel-body" >
                    <div class="mar-ver pad-btm">
                        <h3 class="h3 mar-no">Iniciar Sesión</h3>
                        <p><hr></p>
                            <p class="text-success text-bold ">
                                {{ mensaje }}
                            </p>
                            <p class="text-danger text-bold ">
                                {{ mensajeE }}
                            </p>
                    </div>
                    <form method="post" action="" >
                        {% csrf_token %}
                        <div class="form-group">
                           {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                        </div>
                        <div class="checkbox pad-btm text-left">
                            <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                            <label for="demo-form-checkbox">Recuerdame</label>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <button style="background-color: #e8a018; border-color: #d5d3d0" class="btn btn-primary btn-block" type="submit"><b>Ingresar</b></button>
                        </div>
                    </form>

                </div>
                <hr>
                <div class="pad-all">
                    <a href="{% url 'reset_password_reset1' %}" class="btn-link mar-rgt ">Recordar mi clave</a>
                    <a href="{% url 'register_user' %}" class="btn-link mar-lft" type="submit" name="btnToRegister"><u>Registrarme</u></a>
                </div>
            </div>
        </div>
	</div>

	<!--===================================================-->
	<!-- END OF CONTAINER -->
{%endblock content%}