{% extends "base-usuario.html" %}
{%block title %}Registro de Usuario | PROMETEO{%endblock title %}
{%block content %}
	<div id="container" class="cls-container">
		<!-- REGISTRATION FORM -->
		<!--===================================================-->
		<div class="cls-content">
		    <div class="cls-content-lg panel" style="background-color: #ffffff">
		        <div class="panel-body">
		            <div class="mar-ver pad-btm">
		                <h3 class="h3 mar-no">Crear una cuenta </h3>
                        <p><hr></p>
                        <p class="text-success text-bold ">
                            {{ mensaje }}
                        </p>
                        <p class="text-danger text-bold ">
                            {{ mensajeE }}
                        </p>
		            </div>
                    {% if not ocultar %}
		            <form method="post" action="" class="form-horizontal">
                        {% csrf_token %}
		                <div class="row">
                             <div class="col-sm-10">
                                 <fieldset>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Nombres: </label>
                                        <div class="col-lg-8">
                                            {{ form.first_name}}
                                        </div>
                                    </div>
                                </fieldset>

                                 <fieldset>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Apellidos: </label>
                                        <div class="col-lg-8">
                                            {{ form.last_name}}
                                        </div>
                                    </div>
                                </fieldset>

                                 <fieldset>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Email: </label>
                                        <div class="col-lg-8">
                                            {{ form.email}}
                                        </div>
                                    </div>
                                </fieldset>

                                 <fieldset>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Nombre de usuario: </label>
                                        <div class="col-lg-8">
                                            {{ form.nombre_usuario}}
                                        </div>
                                    </div>
                                </fieldset>

		                        <fieldset>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Contraseña: </label>
                                        <div class="col-lg-8">
                                            {{ form.password}}
                                        </div>
                                    </div>
                                </fieldset>

                                 <fieldset>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Email alternativo: </label>
                                        <div class="col-lg-8">
                                            {{ form.email_alternativo}}
                                        </div>
                                    </div>
                                </fieldset>

                                 <fieldset>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Teléfono fijo : </label>
                                        <div class="col-lg-8">
                                            {{ form.tel_fijo}}
                                        </div>
                                    </div>
                                </fieldset>

                                 <fieldset>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Teléfono móvil : </label>
                                        <div class="col-lg-8">
                                            {{ form.tel_movil}}
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="checkbox pad-btm text-left">
                                    <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                                    <label for="demo-form-checkbox">Está de acuerdo con los <a href="#" class="btn-link">Términos y Condiciones</a></label>
                                </div>
                                    <div class="col-sm-5 col-sm-offset-5">
                                        <div class="form-group">
                                            <button style="background-color: #e8a018; border-color: #d5d3d0" class="btn btn-primary btn-block" type="submit" name="btnRegister">Registrarse</button>
                                        </div>
                                    </div>
                             </div>
                        </div>
                    </form>
                    {% endif %}
                     <div class="pad-all col-sm-6 col-sm-offset-6">
                         <hr>Ya tienes cuenta ?  <a href= "{% url 'login_user' %}" class="btn-link mar-rgt"><strong>Inicia Sesión</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    </div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->

{%endblock content%}
